:root {
    --pip-green: #31b270;
    --background-color: #01160a;
}

html {
    font-family: sans-serif;
    font-size: 20px;
}

body, html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

button, input {
    box-sizing:content-box;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    cursor: pointer;
}

button:active, input:active {
    cursor: default;
}

/* Actual styling */
main {
    background-color: var(--background-color);
    color: var(--pip-green);

    box-sizing: border-box;
    height: 100%;
    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top bar stuff */
.top-bar {
    display: flex;
    gap: 15px;
    height: 45px;

}
.title-holder {
    border-top: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;
    border-image: linear-gradient(to bottom, var(--pip-green), var(--background-color)) 1;

    flex: 8;
}
.title {
    background-color: var(--background-color);
    position: relative;
    top: -0.7rem;

    box-sizing: border-box;
    margin-left: 5%;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;

    display: inline-block;
    font-size: 1.2rem;
    font-weight: inherit;
}

.date {
    border-top: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-image: linear-gradient(to bottom, var(--pip-green), var(--background-color)) 1;
    
    flex: 1;
    display: flex;
    justify-content: right;

    padding: 10px;
}

/* Bottom bar stuff */ 
.low-bar {
    border-bottom: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;

    border-image: linear-gradient(to top, var(--pip-green), var(--background-color)) 1;
    

    padding: 10px;
    height: 45px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around; 

    position: relative;
    bottom: -0.8rem;
}

nav button {
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    text-align: center;

    border: 2px solid transparent;
}

nav button:hover {
    border-color: var(--pip-green);
}

/* Data holder */
.content {
    flex: 1;

    display: grid;
    grid-template-columns: 1fr 1fr;

}



section.left ul.quests {
    list-style: none;
}

section.left ul.quests li {
    padding: 10px 45px;
    border: solid 2px transparent;
}

section.left ul.quests li:hover {
    border-color: var(--pip-green);
}