:root {
    --pip-green: #31b270;
    --pip-darkened: #134929;
    --background-color: #01160a;
}

html {
    font-family: sans-serif;
    font-size: 20px;
}

body, html {
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}

button, input, label {
    box-sizing:content-box;
    border: none;
    background-color: inherit;
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    cursor: pointer;
    display: block;
}

button:active, input:active, label:active{
    cursor: default;
}

:where(textarea),
:where(input[type="text"],input[type="search"],input[type="password"],input[type="url"]){
  appearance: none;
  border-style: solid;
  outline: none;
} 

input::placeholder {
    color: var(--pip-darkened);
    color-scheme: var(--pip-darkened);
}

/* .hidden {
    display: none;
} */

/* Actual styling */
main {
    background-color: var(--background-color);
    color: var(--pip-green);

    box-sizing: border-box;
    height: 100%;
    padding: 30px 15px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Top bar stuff */
.top-bar {
    display: flex;
    gap: 15px;
    height: 45px;

}
.title-holder {
    border-top: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;
    border-image: linear-gradient(to bottom, var(--pip-green), var(--background-color)) 1;

    flex: 5;
}
.title {
    background-color: var(--background-color);
    position: relative;
    top: -0.7rem;

    box-sizing: border-box;
    margin-left: 5%;
    padding: 0 20px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;

    display: inline-block;
    font-size: 1.2rem;
    font-weight: inherit;
}

.date {
    border-top: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-image: linear-gradient(to bottom, var(--pip-green), var(--background-color)) 1;
    
    flex: 1;
    display: flex;
    justify-content: right;

    padding: 10px;
}

/* Bottom bar stuff */ 
.low-bar {
    border-bottom: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;

    border-image: linear-gradient(to top, var(--pip-green), var(--background-color)) 1;
    

    padding: 10px;
    height: 45px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-around; 

    position: relative;
    bottom: -0.8rem;
}

nav button {
    padding: 0.2rem 1rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    text-align: center;

    border: 2px solid transparent;
}

nav button:hover {
    border-color: var(--pip-green);
}

/* Content */
.content {
    flex: 1; 

    display: grid; /*Nested scrollers didn't like display grid*/
    grid-template-columns: 5fr 6fr;
    gap: 10%;

    overflow-y: hidden;

}

.content button {
    border: 2px solid transparent;
}

.content button:hover {
    border-color: var(--pip-green);
}

section.left {
    overflow-y: hidden;

    display: flex; /*Needs display flex or grid to have nested scrollers to work properly*/
    flex-direction: column;
}

section.left .quest-container {
    direction: rtl;
    height: 100%;
    padding-left: 5%;

    overflow-y: auto;
}
.quest-container * {
    direction: ltr;
}

/* Quest prompt */
.quest-prompt {
    margin-bottom: 20px;
    position: relative;

    transition: width 0.3s, height 0.6s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    overflow-x: hidden;

    height: 0%;
    width: 0%;
}

.quest-prompt.activated {
    height: 200px;
    width: 100%;
}

.quest-prompt-top {
    border-top: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;
    border-image: linear-gradient(to bottom, var(--pip-green), var(--background-color)) 1;

    height: 20px;
}

.quest-prompt-low {
    border-bottom: var(--pip-green) 2px solid;
    border-right: var(--pip-green) 2px solid;
    border-left: var(--pip-green) 2px solid;
    border-image: linear-gradient(to top, var(--pip-green), var(--background-color)) 1;

    height: 20px;
}

.quest-prompt-body {
    padding: 30px;

    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.quest-prompt-body label, #get-quest-name {
    display: inline-block;
    margin-right: 15px;
}

#submit-quest {
    position: absolute;    
    right: 10px;
    bottom: 10px;

    padding: 4px 6px;
}

#get-quest-due {
    display: inline;
}


/*...*/

section.left ul.quests {
    list-style: none;
}

section.left ul.quests li {
    position: relative;
}

section.left ul.quests li button {
    width: 100%;
    padding: 10px 45px;
    box-sizing: border-box;
    text-align: left;
}

section.left ul.quests li button.selected::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;

    top: 35%;
    left: 20px;

    border: 2px solid var(--pip-green);
    background-color: var(--pip-green);

}

.quest-adder {
    position: absolute; /*Couldn't position this relative to section left because overflow-x visible wouldn't work with overflow-y hidden*/
    top: 70px;
    right: 53%;
    width: 1.2em;
    height: 1.2em;

    background-color: var(--pip-green);
    color: var(--background-color);
    font-weight: bold;

    transition: transform 0.3s, color 0.3s;
}

.quest-adder.selected {
    transform: rotate(45deg);
    color: var(--pip-green);
    border-color: var(--pip-green);
    background-color: #01160a;
}

section.right {
    display: grid;
    grid-template-rows: 20% 1fr;

    overflow-y: hidden;
}

section.right .task-adder {
    justify-self: right;
    align-self: center;
    padding: 0.2rem 1rem;
}

section.right .tasks-container {
    overflow-y: auto;
    padding-right: 5%;
}

section.right ul.tasks {
    list-style: none;
}

section.right ul.tasks li label{
    padding: 10px 45px;
    position: relative;
}

section.right ul.tasks li {
    border: solid 2px transparent;
}

section.right ul.tasks li:hover {
    border-color: var(--pip-green);
}

ul.tasks li label input[type='checkbox'] {
    appearance: none;
}

ul.tasks li label input ~ .checkbox {
    position: absolute;
    width: 10px;
    height: 10px;

    top: 35%;
    left: 20px;

    border: 2px solid var(--pip-green);
}

ul.tasks li label input:checked ~ .checkbox {
    background-color: var(--pip-green);
}

input#create-new-task {
    padding: 10px 45px;
    box-sizing: border-box;
    border: 2px solid transparent;
    width: 100%;
    display: block;
}

input#create-new-task:focus{
    border-color: var(--pip-green);
}

form#task-adder-form {
    position: relative;
}

form#task-adder-form button {
    position: absolute;
    right: 10px;
    top: calc(1em / 2);
}
